header { 
 border-bottom: solid 3px #ca9c11
  padding: 10px;
  font-size: 22px;
  color: white;
}
body {

  background-color: blue ;  cor de fundo do site. Buscar cor na tabela postada no Classroom

}


h1 {color: red  ; cor letras do título

  }


p {

    font-Size: 16px;

    color: white ; cor letras paragráfos

}



